@import url('https://fonts.googleapis.com/css?family=Oregano');

.container{
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.row {
    height: 100% !important;
    overflow: scroll;
    overflow-x: hidden;
}

.profileContainer {
    background-color: steelblue;
    height: 100%;
    border-right: 2px solid #000;
}

.profileImageContainer {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    background-image: url('../assets/img/profile_color.gif');
    background-repeat: no-repeat !important;
    background-size: contain !important;
    position: fixed;
}

.profileText {
    font-size: 2.0rem;
    color: snow;
    margin-top: 30%;
    width: 50%;
    font-family: 'Oregano', cursive;
}

.bioContainer {
    background-color: snow;
    border-left: 2px solid #000;
}

.bio {
    margin-top: 5%;
    padding: 20px;
}

.social_container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.typed_header {
    font-size: 1.5rem;
    text-decoration: underline;
}

.small_display {
    display: none;
}

.contact {
    margin-top: 15px;
}

.contact a{
    color: steelblue;
}

@media (max-width: 767px){
    .profileContainer {
        border-bottom: 2px solid #000;
        height: 400px;
    }

    .profileImageContainer {
        margin-left: 0px;
        position: static;
        background-position: center;
    }

    .profileText {
        float: right;
        margin-top: 0;
        margin-right: 5%;
        width: auto;
        position: static;
    }

    .bioContainer {
        margin-top: 0px;
        text-align: center;
    }

    .bio {
        margin: 0 auto;
        margin-top: 5%;
        padding: 20px;
    }

    .small_display {
        display: block;
    }
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.fa-github, .fa-linkedin-square {
    font-size: 2.5rem;
    color: steelblue;
    margin-right: 15px;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
