<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 profileContainer">
        <div class="profileImageContainer">
            <div class="profileText">
                <span class="intro_element"></span><span class="typed-cursor">|</span>
            </div>
        </div>  
    </div>
    <div class="col-xs-12 col-md-6 bioContainer">
        <div class="row">
            <div class="col-xs-12 bio">  
                
                <div id="typed-about-me" style="display: none;">
                    <p>Thanks For Your Interest In Me! ^500</p>
                    <p>I'm sure you think this is fancy, ^500 but let's get down to business! ^500</p>
                    <p>
                        <span class="typed_header">About Me:</span><br class="small_display">
                        My name is <strong>Tyler Fletcher</strong>, ^500 but you already know that!<br>
                        <br>
                        I am currently an Applications Developer at Operation PAR, Inc., located in Largo, Florida.<br>
                        <br>
                        I am a <em>self motivated</em>, <em>self instructed</em> front-end developer,
                        with a personal goal to learn something new every single day.<br>
                        <br>
                        I take pride in my passion and dedication for self-growth,
                        and with a personailty that loves people, I fit right in just about <strong>anywhere.</strong><br>
                        <br>
                        Are you looking for someone who:<br>
                        &#8226; Has good energy <br>
                        &#8226; Is highly motivated <br>
                        &#8226; Has excellent communication skills <br>
                        &#8226; Can easily adapt to any environment<br>
                        &#8226; Is willing to learn new technologies<br>
                        <br>
                        <strong>Great!</strong> ^800 I thought you might be!<br>
                        <br>
                    </p>
                </div>
                <div id="typed-work" style="display: none;">
                    <p>
                        <span class="typed_header">Experience:</span><br><br>
                        
                        <strong>My current responsibilities include (but are not limited to):</strong><br><br class="small_display">
                        &#8226; Writing C# (.NET) web services<br>
                        &#8226; Creating websites and web apps using Angular<br>
                        &#8226; Creating scripts for automating data processes (conversions, manipulations, etc)<br>
                        &#8226; Florida State Data Reporting and Billing<br>
                        &#8226; Writing Crystal Reports and SSRS Reports<br>
                        &#8226; and Integrating with SQL Server/ODBC Environments<br><br>
                        
                        <strong>I currently have experience with:</strong> <br>
                        &#8226; HTML/CSS/JavaScript <br>
                        &#8226; Angular (1.x and 2.x) <br>
                        &#8226; Ionic (1.x and 2.x) <br>
                        &#8226; Node.js <br>
                        &#8226; C++/C# <br>
                        &#8226; Python <br>
                        &#8226; Linux/Unix/Windows Scripting <br><br>
                        
                        I am also familiar with Visual Studios, ^300 Xcode, ^300 Cordova, ^300 and Phonegap. <br>
                        I can work comfortably in pretty much any OS, ^300 but my hardware and OS of choice is a MacBook Pro on OS X. <br>
                        My favorite code editor of choice is Brackets, ^300 and I use Git for version management.<br><br>
                    </p>
                </div>
                
                <div id="typed-social" style="display: none;">
                    <p>
                        Hopefully you now know me a little better as a person than you did before.<br>
                        There is still a lot to learn about me, and I am <em>eager</em> to formally introduce myself.<br>
                        <br>
                        Until that time comes, how about checking out some of my work, and let's get connected!<br><br>
                    </p>
                </div>
            
                <span class="bio_element"></span><span class="typed-cursor delay">|</span>
                
                <div class="social_container" style="display: none;">
                    <a href="https://github.com/fletchertyler914" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/tyler-fletcher/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    <p class="contact">Email: <a href="mailto:hello@tylerjfletcher.com">hello@tylerjfletcher.com</a></p>
                    <p class="contact">Phone: <a href="tel:+16156913738">615-691-3738</a></p>
                    <p class="contact">Resumé PDF: <a href="../assets/TylerFletcher.pdf">Download</a></p>
                </div>
                
            </div>
        </div>
    </div>
  </div>
</div>